* {
  margin: 0;
}
.App {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /* keep ratio */
}
